CTest*
CPack*
CMakeFiles/
CMakeScripts/
Debug/
Release/
doc/

.idea/*
!.idea/inspectionProfiles
build/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

_*
.ninja*
*.project
*.workspace
*.ninja
*.user
cmake_*.cmake
ALL_BUILD_*
Makefile
Custom.cmake
CMakeCache.txt
install_manifest.txt

Doxyfile
config.hpp
buildit
shellit
lxcuser
core

*.ddeb
*.buildinfo
*.tar.gz
*.rpm
*.deb
*.dsc
*.changes
*.pdf
*.cbp
*.o
*.a

