CTest*
CPack*
CMakeFiles/
CMakeScripts/
Debug/
Release/
Testing/
doxy/
.custom/

.idea/*
!.idea/inspectionProfiles
!.idea/inspectionProfiles/*

cmake-build-*/
build/
deploy/
debian/changelog
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.codelite/
*.xcodeproj/
*.iws
*.gcov

_*
.ninja*
*.project
*.workspace
*.ninja
*.user
*.user.*
cmake_*.cmake
ALL_BUILD_*
rubocop.json
Makefile
CMakeCache.txt
install_manifest.txt
coverage.xml

custom.cmake
config.hpp
buildit
shellit
lxcuser
core
*.core
test_*
!test_*.cpp

*.ddeb
*.buildinfo
*.tar.gz
*.rpm
*.deb
*.dsc
*.changes
*.pdf
*.qch
*.cbp
*.o
*.a

.scannerwork/
bw-output/
